.bg-card-1{
    background-color: #2D9596;
}

.bg-card-2{
    background-color: #2D9596 ;
}

.bg-card-3{
    background-color: #265073 ;
}
.bg-card-4{
    background-color: #A25772 ;
}
.bg-card-5{
    background-color: #A3B763 ;
}
.bg-card-6{
    background-color: #39A7FF ;
}
.bg-card-7{
    background-color: #FFC436 ;
}
.bg-card-8{
    background-color: #F4CE14 ;
}
.bg-card-9{
    background-color: #5272F2 ;
}
.bg-card-10{
    background-color: #5272F2 ;
}