* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.hero-image {
    width: 45%;
}

.bg-green {
    background-color: #1F8A70;
}

.bg-white {
    background-color: #fefefe;
}

.hover-navbar {
    color: #000;
    font-size: 1rem;
    transition: 0.2s;
}

.hover-navbar:hover {
    color: #1F8A70;
}

.hover-navbar::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid #1F8A70;
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}
